.text {
	word-wrap: break-word;
	white-space: pre-line;
}

/* Speech Bubbles */
.speech-bubble {
	position: relative;
	padding: 8px;
    border-radius: .4em;
    margin-bottom: 10px;
	left: 0px;
	width: fit-content;
	max-width: 70%;
	color: white;
}
/* Bubble pointer */
.speech-bubble:after{
	content: '';
	position: absolute;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
}

/* Response Bubble */
.speech-bubble.response {
	background: #3F51B5;
    margin-left: 20px;
	align-self: flex-start;

	text-align: left;
}

.speech-bubble.response:after{
	left: 0;
	border-right-color: #3F51B5;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

/* user Bubble */
.speech-bubble.no-response {
	background: #616161;
    margin-right: 20px;
	align-self: flex-end;
	margin-left: auto;

	text-align: right;
}

.speech-bubble.no-response:after {
	right: 0;
	border-left-color: #616161;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}
