.command-input-field{
    height: 15px;
}

.chat{
    overflow: auto;
    scroll-behavior: auto;
}

.text{
    word-wrap: break-word;
}

/* Height */

/* big desktop */
@media (min-height: 1200px){
.chat {
    max-height: 800px;
}}

/* small desktop */
@media (min-height: 1000px) and (max-height: 1199px){
.chat {
    max-height: 700px;
}}    

/* large  smartphone */
@media (min-height: 825px) and (max-height: 999px){
.chat {
    max-height: 600px;
}}

/* medium smartphone */
@media (min-height: 725px) and (max-height: 824px){
.chat {
    max-height: 500px;
 }}

/* small smartphone */
@media (min-height: 525px) and (max-height: 724px){
.chat {
    max-height: 300px;
}}

/* small something */
@media (min-height: 300px) and (max-height: 524px){
.chat {
    max-height: 100px;
}}

/* smallest something */
@media (max-height: 299px){
.chat {
    max-height: 60px;
}}

/* Width */

/* big desktop */
@media (min-width: 1200px){
.chat {
    max-width: 500px;
}}
    
/* small desktop */
@media (min-width: 820px) and (max-width: 1199px){
.chat {
    max-width: 400px;
}}
    
/* smartphone */
@media (max-width: 819px){
.chat {
    padding: 8px;
}}