<mat-card>
    <mat-card-title>Home</mat-card-title>
    <mat-card-content>
        <section>
            <mat-form-field class="command-input-field">
                <textarea matInput #command [(ngModel)]="commandTextValue" placeholder="Befehl" [errorStateMatcher]="errorStateMatcher"></textarea>
            </mat-form-field>
            <button mat-icon-button color="basic" [@srState]="srState" (click)="speechRecognition()">
                    <mat-icon>keyboard_voice</mat-icon>
            </button>
        </section>
        <section *ngIf="response">
            <label>Antwort:</label>
            <p>
                {{response}}
            </p>
            <button mat-icon-button color="basic" (click)="speakCommand(response)">
                <mat-icon aria-label="Antwort vorlesen">volume_up</mat-icon>
            </button>
        </section>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="basic" (click)="sendCommand(command.value)">SENDEN</button>
    </mat-card-actions>
</mat-card>



