<!--Home Component-->
<div class="main mat-elevation-z2" fxLayout="column" fxLayoutAlign="end center">

  <!-- Chat Displayal-->
  <div class="chat-background" fxFlex fxLayout="column" fxLayoutAlign="end center">
    <div class="chat-text" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <app-messages-container></app-messages-container>
    </div>
  </div>

  <div class="command-bar">

    <!-- Input Field View -->
    <div *ngIf="!srSupported || keyboardActive" fxLayout="row" fxLayoutAlign="center center" class="command-bar input-field-view">

      <!-- Show Button to switch to SR View -->
      <div *ngIf="srSupported">
        <button mat-icon-button class="mybutton md-36" (click)="triggerKeyboard()">
          <mat-icon class="material-icons md-36">keyboard_hide</mat-icon>
        </button>
      </div>
      <!--SR View not Supported -> Show Supported Buttons from SR View -->
      <div *ngIf="!srSupported">
        <button mat-icon-button class="mybutton md-36" color="primary" (click)="triggerBackendSound()">
          <mat-icon *ngIf="backendSoundState" class="material-icons md-36">music_note</mat-icon>
          <mat-icon *ngIf="!backendSoundState" class="material-icons md-36 color_red">music_off</mat-icon>
        </button>
      </div>

      <!-- Input Field -->
      <div fxFlex fxFlexAlign="stretch">
        <mat-form-field class="input-outline" appearance="outline">
          <mat-label>{{commandInputPlaceholder}}</mat-label>
          <textarea matInput rows="1" style="resize:none; height: 30px;" #inputField autofocus (keydown.enter)="sendTextFieldMessage()"
            [(ngModel)]="commandTextValue"></textarea>
        </mat-form-field>
      </div>

      <!-- Send Input -->
      <div>
        <button mat-icon-button class="mybutton md-36" color="primary" (click)="sendTextFieldMessage()">
          <mat-icon class="material-icons md-36">send</mat-icon>
        </button>
      </div>
    </div>


    <!-- sr Button View -->
    <div *ngIf="srSupported && !keyboardActive" fxLayout="row" fxLayoutAlign="center center">

      <!-- Input Field Activator -->
      <button mat-icon-button class="mybutton" style="position: absolute; left: 0;" (click)="triggerKeyboard()">
        <mat-icon>keyboard</mat-icon>
      </button>

      <!--SR Button-->
      <button mat-icon-button class="mybutton md-60" [@srState]="srState" (click)="triggerSR()">
        <mat-icon class="material-icons md-48 color_white">keyboard_voice</mat-icon>
      </button>

      <!-- Other Buttons (Voice mute & Sound Mute) -->
      <div style="position: absolute; right: 0;">
        <!--Voice Button - Mute/Unmute & Cancel current Voice Output-->
        <button mat-icon-button class="mybutton" (click)="triggerSound()">
          <mat-icon *ngIf="soundEnabled">record_voice_over</mat-icon>
          <mat-icon class="material-icons color_red" *ngIf="!soundEnabled">voice_over_off</mat-icon>
        </button>

        <!--Backend Sound Button - Mute/Unmute Sound Output of the Backend-->
        <button mat-icon-button class="mybutton" (click)="triggerBackendSound()">
          <mat-icon *ngIf="backendSoundState">music_note</mat-icon>
          <mat-icon class="material-icons color_red" *ngIf="!backendSoundState">music_off</mat-icon>
        </button>
      </div>

    </div>
  </div>
</div>