:host {
    display: block;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    padding: 8px;
}

.chat-background {
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-behavior: auto;
}

.chat-text {
    width: 100%;
    align-items: flex-end;
    overflow: auto;
    scroll-behavior: auto;
}

.command-bar {
    width: 100%;
    height: 64px;
    resize: none;
    overflow: hidden;
}

.command-input {
    width: 100%;
    height: 64px;
 }

.mybutton { color: #3F51B5; }

.mybutton.md-18 { width: 21px; height: 21px; }
.mybutton.md-24 { width: 28px; height: 28px; }
.mybutton.md-36 { width: 42px; height: 42px; }
.mybutton.md-48 { width: 56px; height: 56px; }
.mybutton.md-60 { width: 70px; height: 70px; }

.material-icons.md-18 { font-size: 18px; width: 18px; }
.material-icons.md-24 { font-size: 24px; width: 24px; }
.material-icons.md-36 { font-size: 36px; width: 36px; }
.material-icons.md-48 { font-size: 48px; width: 48px; }
.material-icons.md-60 { font-size: 60px; width: 60px; }

.material-icons.color_red { color: red; }
.material-icons.color_white { color: white; }


@media (min-width: 285px) and (max-width: 310px){
    .input-outline {
        width: 175px;
    }
}
@media (min-width: 260px) and (max-width: 284px){
    .input-outline {
        width: 150px;
    }
}
@media (min-width: 235px) and (max-width: 259px){
    .input-outline {
        width: 125px;
    }
}
@media (min-width: 210px) and (max-width: 234px){
    .input-outline {
        width: 100px;
    }
}
@media (min-width: 185px) and (max-width: 209px){
    .input-outline {
        width: 75px;
    }
}
@media (max-width: 184px){
    .input-outline {
        width: 50px;
    }
}
