<mat-card class="main">

  <!--Open Bottom Bar Button-->
  <button *ngIf="!displayBar" mat-icon-button class="myButton" class="bar" (click)="changeBarDisplayal()">
    <mat-icon>navigate_before</mat-icon>
  </button>

  <!--Bottom Bar-->
  <div *ngIf="displayBar">
    <!--Chat-->
    <app-amy-chat *ngIf="displayChat"></app-amy-chat>

    <!--Bottom Bar Buttons-->
    <mat-card-actions>

      <!--Hide Bottom Bar button-->
      <button mat-icon-button color="primary" class="myButton" (click)="changeBarDisplayal()">
        <mat-icon>navigate_next</mat-icon>
      </button>

      <!--Chat Button-->

      <!--Show-->
      <button *ngIf="displayChat" mat-icon-button color="primary" class="myButton" (click)="changeChatDisplayal()">
        <mat-icon>chat</mat-icon>
      </button>
      <!--Hide-->
      <button *ngIf="!displayChat" mat-icon-button class="myButton" (click)="changeChatDisplayal()">
        <mat-icon>chat</mat-icon>
      </button>

      <!--SR Buttom-->
      <button mat-icon-button *ngIf="srSupported" [@srState]="srState" class="myButton" (click)="triggerSR()">
        <mat-icon>keyboard_voice</mat-icon>
      </button>

      <!--Sound Button - Mute/Unmute & Cancel current Voice Output-->
      <button mat-icon-button class="myButton" (click)="triggerSound()">
        <mat-icon *ngIf="soundEnabled">volume_up</mat-icon>
        <mat-icon class="mat-icons color_red" *ngIf="!soundEnabled">volume_off</mat-icon>
      </button>
  
      <!--Backend Sound Button - Mute/Unmute Sound Output of the Backend-->
      <button mat-icon-button color="" (click)="triggerBackendSound()">
        <mat-icon *ngIf="backend.checkBackendSoundState()" >music_note</mat-icon>
        <mat-icon class="mat-icons color_red" *ngIf="!backend.checkBackendSoundState()" >music_off</mat-icon>
      </button>

    </mat-card-actions>
  </div>
</mat-card>