
<mat-toolbar color="primary">
  <span>
    <a mat-button routerLink="">Home</a>
    <a mat-button routerLink="music">Music</a>
    <a mat-button routerLink="clock">Wecker</a>
    <a mat-button routerLink="weather">Weather</a>
    <a mat-button routerLink="navigation">Navigation</a>
    <a mat-button routerLink="email">E-Mail</a>
    <a mat-button routerLink="registry">Registry</a>
  </span>
  <span class="fill-remaining-space"></span>
  <span>
    <a mat-button *ngIf="!auth.loggedIn()" routerLink="login">Login</a>
    <a mat-button *ngIf="auth.loggedIn()" (click)="auth.logout()">Logout</a>
  </span>
</mat-toolbar>


<router-outlet></router-outlet>