<h1 class="mat-h1">Login</h1>

<div fxLayout="column" fxLayoutAlign="start start">
  <mat-form-field class="form-full-width">
    <mat-label>Backend URL of Amy-Core</mat-label>
    <input matInput [(ngModel)]="inputText" [formControl]="urlFormControl" type="url" id="url" placeholder="http://localhost:8080/rest/" required>
    <mat-error *ngIf="urlFormControl.hasError('url') && !urlFormControl.hasError('required')">
      Please enter a valid url
    </mat-error>
    <mat-error *ngIf="urlFormControl.hasError('required')">
      Backend URL is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" (click)="login()">Login</button>
</div>