<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content fxLayout="column" fxLayoutAlign="start start">
    <mat-form-field class="form-full-width">
      <mat-label>Backend URL of Amy-Core</mat-label>
      <input matInput [formControl]="urlFormControl" type="url" id="url" placeholder="http://localhost:8080/rest/" required>
      <mat-error *ngIf="urlFormControl.hasError('url') && !urlFormControl.hasError('required')">
        Please enter a valid url
      </mat-error>
      <mat-error *ngIf="urlFormControl.hasError('required')">
        Backend URL is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" (click)="login()">Login</button>
  </mat-card-content>
</mat-card>