<mat-toolbar>
  <span>Music</span>
</mat-toolbar>

<div class="musicSearch-container">
  <mat-form-field>
    <input matInput #artist placeholder="Artist">
  </mat-form-field>

  <mat-form-field>
    <input matInput #song placeholder="Song">
  </mat-form-field>
</div>
<button mat-raised-button color="primary" (click)="playSong(artist.value, song.value)">Play</button>

<div>
  <button mat-raised-button color="basic" (click)="getCurrentSong()">Aktueller Song</button>
  <button mat-raised-button color="basic" (click)="getPlaylist()">Playlist</button>
</div>
<div *ngIf=song>
  <mat-list role="list">
    <mat-list-item role="listitem">Interpret: {{musicData.artist}}</mat-list-item>
    <mat-list-item role="listitem">Titel: {{musicData.titel}}</mat-list-item>
  </mat-list>
</div>
<div *ngIf=playlist>
  <div *ngFor="let music of musicPlaylistData.songs; let i = index">
    <mat-list role="list">
      <mat-list-item role="listitem" >Song: {{i +1}}</mat-list-item>
      <mat-list-item role="listitem" >Interpret: {{music.artist}}</mat-list-item>
      <mat-list-item role="listitem" >Titel: {{music.title}}</mat-list-item>
    </mat-list>
  </div>
</div>